.wrapper {
  background-color: rgb(159, 255, 199);
  margin: 15px;
  padding: 15px;
  width: 20%;
}

.weight {
  font-size: 150%;
  color: rgb(6, 194, 84);
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
